.wrapper {
    width: 100vw;
    height: 100vh;
    background: #fff center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#painting-title,
#painting-description {
    font-size: 2.2em;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin: 10px;
}

#painting-description {
    font-size: 1.2em;
    line-height: 1.6em;
    width: 40vw;
    font-family: sans-serif;
    text-align: center;
}


