body{
    background-color: #d0e8f2 ;
}

#button {
    align-items: center;
    border: 3px solid #84b9d1;
    background-color: #84b9d1;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

#button:hover {
    background-color: transparent;
    color: #FFFFFF;
    border-color: #6590a3;
    background-color: #6590a3;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

#subheader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

.Counter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}